@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
}

body::-webkit-scrollbar {
    width: 6px;}
      
body::-webkit-scrollbar-track {
    background-color: rgba(53, 39, 39, 0.795)}
      
body::-webkit-scrollbar-thumb {
    background-color: goldenrod;       
    border: 1px solid goldenrod; }

/*HEADER---------------------------------------------------------------------------------------*/

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #ca1738;}

#logomarca{
    height: 80px;}

.cabecalho p{
    flex: 1;
    padding-right: 5px;
    text-align: right;
    color: snow;
    font-size: 14px;
    cursor: pointer;}

.cabecalho p:hover{
    font-size: 15px;
    text-decoration: underline;}

#botao-cadastrar{
    border-radius: 20px;
    padding: 13px;
    margin-right: 20px;
    text-transform: uppercase;
    border: 1px solid snow;
    background-color: snow;
    color: #ca1738;
    font-family: 'Righteous', cursive;
    cursor: pointer;}

#botao-cadastrar:hover{
    font-size: 1em;
    background-color: goldenrod;
    color: snow;
    transition: all 0.5s ease-in-out;}

    .navegacao{
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 100vw;
        top:1;
        margin-top: 80px;
        padding-left: 0;
        background-color: #ca1738;
        transition: all 0.6s ease-in-out;}
        
    .navegacao:hover{
        background-color: rgba(53, 39, 39, 0.795);}
                         
    .navegacao a{                
        padding: 15px 0;
        flex-grow: 1;
        text-align: center;
        font-family: 'Righteous', cursive;
        font-size: 100%;
        font-weight: 200;
        border-top: 1px solid snow;
        color: white;
        text-decoration: none;}                    
    
    .navegacao a:hover{
        background-color: goldenrod;
        padding-bottom: 2px;
        border-bottom: 2px solid goldenrod;}

    @media (max-width: 600px) {

        .cabecalho{
            display: flex;
            justify-content: center;
            align-items: center;}
    
        .botao-cadastrar{
            padding: 8px;
            font-size: 10px;
        }

        .navegacao{
            margin-top: 60px;
        }

        .navegacao a{
            font-size: 8px;}}

/*MAIN---------------------------------------------------------------------------------------*/

main{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;}

.logo-card img{
    height: auto;
    width: 30%;
    
}

.card-precos{
    box-shadow: #ca1738 1px 2px 2px 1px;
    text-align: center;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    width: 150%;
    border-radius: 10px;

}

.card-principal{
    flex: 0 0 auto;
    width: 55%;
    margin-top: 150px;
    margin-left: 25px;
    border-radius: 10px;
}
.logo-card{
    
    border-radius: 10px 10px 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-card{
    background-color: #eeeaec;
    border-radius: 10px 10px 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valor{
    font-family: Open Sans,sans-serif;
    color:#ca1738 ;
    box-shadow: #ca1738 1px 2px 2px 1px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 2%;
    margin-top: 2%;
}
@media screen and (max-width: 600px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 5%;
    }

}

ul{
    list-style: none;
    background-color: white;

}

li{
    padding: 10px;
    border-top: 1px solid #ddd;
}

.botao-assine {
    margin: 0 auto;
    margin-top: 2%;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 2%;
    background-color:#ca1738;
    color: white;
    cursor: pointer;
  }

  .botao-assine:hover {
    background-color:rgb(59, 6, 6)
   
  }

  .botao-assine:active {
    background-color: #eeeaec;
    background-color: #eeeaec;
    color: black;
  }

/*FOOTER---------------------------------------------------------------------------------------*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: #30292a;
    border-top: 1px solid snow;
    padding: 0px 10px;
    width: 100vw;
    margin-top: 80vh;}

    .contato h6{
        font-family: 'Sarala', sans-serif;
        color: snow;
        font-size: 15px;
        font-weight: 100;}
    
    .contato{
        display: flex;
        flex-direction: column;
        font-family: 'Sarala', sans-serif;
        color: snow;
        font-size: 11px;}
    
    footer a{
        text-decoration: none;
        font-family: 'Sarala', sans-serif;
        color: snow;
        margin-right: 20px;
        font-size: 9px;}
    
    footer a:hover{
        background-color: rgb(189, 188, 188);
        text-decoration: underline;}